__pycache__/
.ipynb_checkpoints/
basetts_outputs_use_bert/
basetts_outputs/
multilingual_ckpts
basetts_outputs_package/
build/
*.egg-info/

*.zip
data/

*.pt
*.log
*.plan
*.onnx
*.trt
models/
data/old
logs/
tmp/

json/
websocketpp/
client
server